<h1 class="page-title">Welcome to Game of Drones</h1>
<h3 class="page-subtitle">Please enter players names</h3>
<form class="register-form" [formGroup]="registerForm">
  <fieldset class="form-fieldset">
    <label class="form-label">Player 1</label
    ><input type="text" formControlName="playerOne" />
  </fieldset>
  <fieldset class="form-fieldset">
    <label class="form-label">Player 2</label
    ><input type="text" formControlName="playerTwo" />
  </fieldset>
  <button class="btn btn-primary submit-button" (click)="submit()">
    Start game
  </button>
</form>
