@import '../../../../variables.scss';

:host {
  padding: 15px;
  display: block;
  width: 100%;
  margin: auto;
}
.winner-span {
  font-weight: 700;
  color: $blue;
}
.winner-section-wrapper {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 780px;
}
.page-title,
.page-subtitle {
  margin: 15px 0;
}
