<div class="game-wrapper" *ngIf="!currentGame.isGameOver">
  <form [formGroup]="gameForm">
    <h1>Round {{ currentGame.currentRound }}</h1>
    <h2>{{ currentGame.currentPlayer }}, your turn</h2>
    <fieldset>
      <label>Select move</label>
      <select formControlName="moves">
        <option value="" disabled selected>Select a move</option>
        <option
          *ngFor="let move of currentGame.avaiblableGameMoves"
          [value]="move.name"
          >{{ move.name | titlecase }}
        </option>
      </select>
    </fieldset>
    <button (click)="runGame()">Pick Move</button>
  </form>
  <div class="current-game-statistics">
    <h2>Score</h2>
    <div class="statistics-table">
      <div class="statistics-header-row">
        <div class="statistics-header">Round</div>
        <div class="statistics-header">Winner</div>
      </div>
      <div
        class="statistics-row"
        *ngFor="let statisticRow of currentGame.rounds"
      >
        <div class="statistics-value">{{ statisticRow.number }}</div>
        <div class="statistics-value">{{ statisticRow.winner }}</div>
      </div>
    </div>
  </div>
</div>
<app-game-over-screen
  [isGameOver]="currentGame.isGameOver"
  [winner]="currentGame.winner"
></app-game-over-screen>
